@import 'config';
@import 'utilities';

body {
    // the @include here basically copy/pastes the set-background @mixin
    // in turn, the set-background @mixin itself calls a @function to check 'lightness()' score of what you pass
    // and based on that score also sets the 'color' style
    @include set-background(#333); // the set-background function sets both the background as well as text color and figures out what to do based on the "lightness"
}

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    a {
      padding: 6px 12px;
      color: #f3f3f3;
      text-decoration: none;
    }
}

.dropdown-button {
  @include set-background($secondary-color);

  // double line comments don't get parsed and included in the dist css
  // & is a parent selector and super useful for these kinds of pseudo class definitions
  &:hover {
    @include set-background($primary-color);
  }
}